

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    padding: 50px 0px;
    background-color: darkblue;
    color: white;
    font-size: 80px;
    text-align: center;
}

form {
    margin: 40px;
}

input {
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
}

select {
    margin-bottom: 20px;
    width: 100%;
}

.button {
    padding: 15px;
    background-color: lightgray;
    width: 20%;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.section-bg {
    background-color: lightgray;
    padding: 20px;
}

#search-container {
    width: 70%;
    /* padding: 20px; */
    margin: auto;
    margin-top: 50px;
    border: 3px solid black;
}

#article-container {
    width: 70%;
    /* padding: 20px; */
    margin: auto;
    margin-top: 50px;
    border: 3px solid black;
}








